<!--<nav class="navbar navbar-expand-lg bg-light">-->
<nav class="navbar navbar-expand-lg" style="background-color: #5e297c;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../assets/logo9.png" alt="" width="120" height="67" class="d-inline-block align-text-top">
        </a>
        <div class="input-group mb-3">
            <input type="text" 
                   #termo (keyup)="pesquisaComponent(termo.value)"
                   class="form-control" placeholder=" " aria-label=" " aria-describedby="Pesquisar">
            <button class="btn btn-light" type="button" id="button-addon2" (click)="pesquisaComponent(termo.value)">Pesquisar</button>
        </div>
        <div class="input-group mb-3">
        </div>
    </div>
</nav>
<br>
<app-results></app-results>

